/* @override http://localhost:4567/css/style.css */

/* @override http://localhost:4567/css/style.css */

@-webkit-keyframes pulse {
 from { opacity: 0.2; }
 to { opacity: 1.0; }
}

body {
    color: #333333;
    background: #111111 none repeat scroll 0% 0%;
    font-family: Helvetica;
    margin: 10px;
    width: 100%;
}

.jobDetails {
    float: left;
}

.committers {
    float: left;
}

.status-box ol {
    list-style-type: none;
    padding: 0;
}

.status-box li {
    display: inline-block;
}

.upstream {
    width: 100%;
}

.heading {
    float: left;
    height: 150px;
    width: 150px;

}

.status {
    font-size: 2em;
    font-weight: bold;
    text-overflow: ellipsis;
}

.details, .commit-message {
    display: block;
    overflow: hidden;
    font-size: .8em;
    text-overflow: ellipsis;
}

.health {
    font-size: .4em;
    color: #F5B800;
}

.details {
    color: #F5B800;
}

.commit-message {
    color: cyan;
}

.small {
    font-size: 45px;
    letter-spacing: normal;
}

.heading.success {
	background-color: #00FF00;	
}

.success {
    color: #00FF00;
}

.heading.failure {
	background-color: #FF0000;	
}

.failure {
    color: #FF0000;
}

.heading.building {
    background-color: #3333FF;
}

.building {
    color: #3333FF;
}

.building {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.people {
    float: right;
}

.people img {
    width: 150px;
    height: 150px;
    padding-left: 10px;
}